!!!
%html
  %head
    %title
      CubeRekt!
    %link(href="css/bootstrap.min.css" rel="stylesheet")
  %body
    This is my body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            %span.sr-only
            Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="#")
            Stuff
    .jumbotron(style="background-image: url(\"MuZN3.jpg\")")
      .container(style="height:200px")
        %h1
          Hi!<br/>
          <br/>
          <br/>
          
    .container
      %form{:action => "/recommend", :method=>"post", :enctype=>'multipart/form-data'}
        %p
          Hi! Enter a cubetutor id here I guess. (e.g. 1) or a url, to a cubetutor id view page (e.g. http://www.cubetutor.com/viewcube/1)
        %input{:type => "textbox", :name=>"cubetutorid", :id=>"cubetutorid"}
        %br
        Or upload a text file of names of cards below:
        %br
        %input{:type => "file", :name=>"textfile", :id=>"textfile"}
        %input{:type => "submit", :value => "Submit!"}