!!!
%html
  %head
    %title
      These are your recommendations
    %link(href="css/bootstrap.min.css" rel="stylesheet")
  %body
    This is my body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            %span.sr-only
            Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="#")
            Stuff
    .jumbotron(style="background-image: url(\"mmm hmmm\")")
      .container(style="height:200px")
        %h1
          - #(*｀Д´*)ノ"彡☆<br/>
          These are recommended for your cube:
          <br/>
          <br/>
          
    .container
      = recommendations